@model IEnumerable<Vendor>

@{
    ViewData["Title"] = "Home";
}

<style>
    th, 
    td {
        border-left: 1px solid black;
    }

    .vendor-nav {
        text-align: center;
        width: 350px;
        border: 2px solid black;
        grid-template-columns: repeat(80px);
    }

    .vendor-nav-link {
        grid-row: 1;
        padding: 15px;
        border-left: 1px solid black;
    }

    .vendor-nav-link:active {
        background-color: lightblue;
    }
</style>

<h1>Vendors</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table table-striped border-3 border border-dark">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                Address
            </th>
            <th>
                Actions
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Address1)
                </td>
                <td>
                    <a asp-action="Invoices" asp-route-id="@item.VendorId">Invoices</a> |
                    <a asp-action="Edit" asp-route-id="@item.VendorId">Edit</a> |
                    <a asp-action="Delete" asp-route-id="@item.VendorId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<div class="vendor-nav d-grid">
    <a class="vendor-nav-link" asp-action="Index" asp-route-id="A">A - E</a>
    <a class="vendor-nav-link" asp-action="Index" asp-route-id="F">F - K</a>
    <a class="vendor-nav-link" asp-action="Index" asp-route-id="L">L - R</a>
    <a class="vendor-nav-link" asp-action="Index" asp-route-id="S">S - Z</a>
</div>