@model IEnumerable<Vendor>

@{
    ViewData["Title"] = "Home";
}

<style>
    th, 
    td {
        border-left: 1px solid black;
    }
</style>

<h1>Vendors</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table table-striped border-3 border border-dark">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                Address
            </th>
            <th>
                Actions
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Address1)
                </td>
                <td>
                    <a asp-action="Invoices" asp-route-id="@item.VendorId">Invoices</a> |
                    <a asp-action="Edit" asp-route-id="@item.VendorId">Edit</a> |
                    <a asp-action="Delete" asp-route-id="@item.VendorId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
