@model VendorInvoicing.Entities.Vendor

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Vendor</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Address1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Address1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Address2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Address2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.City)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.City)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProvinceOrState)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProvinceOrState)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ZipOrPostalCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ZipOrPostalCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VendorPhone)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VendorPhone)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VendorContactLastName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VendorContactLastName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VendorContactFirstName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VendorContactFirstName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VendorContactEmail)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VendorContactEmail)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsDeleted)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsDeleted)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.VendorId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
