@model VendorInvoices

@{
    ViewData["Title"] = "Invoices";
}

<style>
    th,
    td {
        border-left: 1px solid black;
    }

    #left {
        float: left;
    }

    #right {
        float: right;
    }
</style>

<div class="col">
    <div id="left" class="m-3">
        <h4>Invoices for @Model.Vendor.Name</h4>
        <br />
        <p class="text-muted">Address: PO Box @Model.Vendor.Address1</p>
        <hr />
        <table class="table table-striped border-3 border border-dark">
            <thead>
                <tr>
                    <th>
                        Invoice #
                    </th>
                    <th>
                        Due Date
                    </th>
                    <th>
                        Amount Paid
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var invoice in Model.Vendor.Invoices)
                {
                    <tr>
                        <td>
                            <a asp-action="Invoices" asp-route-invoiceId="@invoice.InvoiceId">@Html.DisplayFor(modelItem => invoice.InvoiceId)</a>
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => invoice.InvoiceDueDate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => invoice.PaymentTotal)
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div id="right" class="m-3">
        <a asp-action="Index" asp-controller="Vendors">Return to Vendors</a>
        <br />
        <br />
        <p class="text-muted">Terms: 30 Days</p>
        <hr />
        <table class="table table-striped border-3 border border-dark w-50">
            <thead>
                <tr>
                    <th>
                        Description
                    </th>
                    <th>
                        Amount
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var lineItem in Model.InvoiceLineItems)
                {
                    <tr>
                        <td>
                            @lineItem.Description
                        </td>
                        <td>
                            @lineItem.Amount
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>



